:root {
  --attendance: #126ae2;
  --grade: #126ae2;
  --exam: #126ae2;
}

.class-card {
  margin-bottom: 15px;
}

.class-title {
  font-weight: bold;
  font-size: 15px;
  padding: 0 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labels {
  display: flex;
}

.label {
  background-color: var(--exam);

  padding: 7px 15px;
  margin-bottom: 10px;
  margin-right: 10px;

  border-radius: 500px;
  text-align: center;

  color: white;
  font-size: 13px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendance-label {
  background-color: var(--attendance);
}

.grade-label {
  background-color: var(--grade);
}


/* Grade colors */

.grade-red {
  background-color: red !important;
}

.grade-orange {
  background-color: orange !important;
}

.grade-green {
  background-color: green !important;
}
